.vscode/settings.json
*.json
__vm/*
*.vcxproj*
.vs/*
*.sln
Debug/*
Release/*
debug.cfg
esp32.svd
# Ignore everything in plugins
/src/plugins/**

# Allow the website folder itself
!/src/plugins/website/
# Allow files in website (but not the whole folder contents)
!/src/plugins/website/Website.h
!/src/plugins/website/Website.cpp
!/src/plugins/website/config.h

# Allow the config at the root of plugins
!/src/plugins/Plugins.config.h


debug.svd
z.esp4.lxd75.servo.Config.h
z.esp4.lxd75.std.Config.h
z.esp4.standard.Config.h
z.esp4.tri.servo23.Config.h
z.esp4.tri.std.Config.h
z.h423.std.Config.h
z.mant.gtr.servo26.Config.h
z.mant.gtr.std.Config.h
z.pcb4.dc.servo.Config.h
build/*